<!-- Admin working time modal show -->
<div 
	class="modal fade" 
	id="single_date_modal" 
	tabindex="-1" 
	role="dialog" 
	aria-labelledby="exampleModalLabel" 
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Zakazite termin</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form >
					<div class="form-group">
						<label for="recipient-name" class="room_select">Odaberite sobu:</label>
						<select class="custom-select form-control-lg" id="room_select" name="room_id">
							<option disabled selected>Odaberite sobu</option>
							<% dentists.forEach(dentist=> { %>
							<option value="<%-dentist.id %>"><%- dentist.first_name+dentist.last_name %></option>
							<% }) %>
						</select>
					</div>
					<div class="form-row">
						<div class="form-group col-10">
							<label for="select_working_date" class="col-form-label">Message:</label>
							<input class="form-control" id="select_working_date" readonly>
						</div>
						<div class="form-group col-2">
							<i class="fas fa-calendar-times" style="font-size:2em;margin-top:40px; color:#0d8fa1; margin-left:34%"></i>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
				<button type="button" class="btn btn-primary">Zakazi termin</button>
			</div>

		</div>
	</div>
</div>