<!-- DENTIST CONFIRM MODAL -->
<div 
	class="modal fade" 
	id="dentist_confirm" 
	tabindex="-1" 
	role="dialog" 
	aria-labelledby="exampleModalLabel" 
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Zakazite termin</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form 
					name="dentist_confirm"
					data="dentist_c"
				>
					<div class="form-group">
						<label>Korisnik:</label>
						<!-- <input type="hidden" name=""> -->
						<span class="form-control appointment_user"></span>
					</div>
					<div class="form-group">
						<label>Od</label>
						<input 
							type="text"
							class="form-control" 
							name="from"
							disabled 
						/>
					</div>
					<div class="form-group">
						<label>Do</label>
						<input 
							type="text"
							class="form-control" 
							name="to"
							disabled 
						/>
					</div>
					<input type="hidden" name="appointment_id">

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Otkazi termin</button>
				<button type="submit" class="btn btn-primary">Zakazi termin</button>
			</div>

		</div>
	</div>
</div>