<link rel="stylesheet" type="text/css" href="/bootstrap-notify/bootstrap-notify.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/flash.css">

<script type="text/javascript">
	let locals = '<%- JSON.stringify(locals.messages) %>';
	console.log(JSON.parse(locals));
</script>

<% if (locals.message) { -%>
<script type="text/javascript">
</script>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%- locals.message %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% } -%>

<script src="/bootstrap-notify/bootstrap-notify.min.js"></script>