<!DOCTYPE html>
<html>
  <head>
    <title>Dental Care</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="/images/tooth.png">
  </head>
  <body>
  <div class="app-container">
    
