<!DOCTYPE html>
<html>
  <head>
    <title>Dental Care</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="/images/tooth.png">
  </head>
  <body>
  <div class="app-container">
  <!-- Place for user login -->
  <% if(typeof user!=='undefined' && user){ %>
    <script>
      var loggedIn= <%- JSON.stringify(user) %>
      localStorage.setItem('loggedIn',JSON.stringify(loggedIn));
    </script>
  <% } %>
  <!-- Authorization script -->
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/auth.js" charset="utf-8"></script>
