<nav class="navbar navbar-expand-lg navbar-dark bg-info">
	<a class="navbar-brand" href="/">
		<img src="/images/tooth.png" height="30" alt="Zub">
		<b>Dental Care</b>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Pocetna</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/appointment">Zakazi termin</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user">Korisnici</a>
			</li>
			<li class="nav-item rooms_list" style="display:none">
				<a class="nav-link" href="/room">Prostorije</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/announcement">Obavestenja</a>
			</li>
		</ul>
		<a role="button" class="btn btn-outline-light login_btn" href="/login">Prijavi se</a>
		<span class="user_info nav-item" style="display: none;color:white"></span>
		<a href="#" class="logout-btn nav-item">
			<i class="fas fa-sign-out-alt"></i>
		</a>
	</div>
</nav>
<!-- Hide Login button if user is logged in -->
<script>
	// let loggedIn= localStorage.getItem('loggedIn');

	if (isUserLoggedIn()) {
		document.getElementsByClassName('login_btn')[0].style.display = 'none';
		document.getElementsByClassName('user_info')[0].style.display = 'block';
		let user = JSON.parse(localStorage.getItem('loggedIn'));
		if (user) {
			document.getElementsByClassName('user_info')[0].innerHTML = user.email;
		}
	}
	if (isAdminLoggedIn() || isDentistLoggedIn())
		document.getElementsByClassName('rooms_list')[0].style.display = 'block';
	
	if(isGuest()) 
		document.getElementsByClassName('fa-sign-out-alt')[0].style.display= 'none';

	$('.fa-sign-out-alt').click((e)=> {
		if(isUserLoggedIn()) 
		{
			e.preventDefault();
			$.ajax({
				method: 'GET',
				url: '/logout',
				statusCode: {
					200: ()=> {
						// Logic for success
						let user= localStorage.getItem('loggedIn');
						if(user)
							localStorage.removeItem('loggedIn');
						document.getElementsByClassName('user_info')[0].style.display= 'none';
						document.getElementsByClassName('fa-sign-out-alt')[0].style.display= 'none';
						document.getElementsByClassName('login_btn')[0].style.display= 'block';
						window.location= '/';
					},
					404: ()=> {
						// Logic for failed
						console.log('404');
					}
				}
			})
		}

	});

</script>