<!-- Alertify module -->
<!-- <div id="alert"></div> -->
<script type="text/javascript" src="/javascripts/external/alertify.js-0.3.11/lib/alertify.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
